body
{
    margin: 0;
    padding: 0;
}
.header 
{
    height: 100px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
.navigator
{

}
.logo
{
    background-image: url('../img/EJ-Logo.png');
    height: 50px;
    width: 35px;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 100px;

}
nav
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    justify-content: right;
    position: relative;
    top: 0px;
    right: 100px;
}
ul
{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding-left: 0px;
    margin: 0px;
}
li
{
    float: left;
    height: 100%;
}
li a 
{
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 9px;
    text-decoration: none;
    background-color: black;
    transition: background-color 1s, color 1s;
    transition-timing-function: ease-out;
}
li a:hover
{
    background-color: white;
    color: black;

}
.content
{
    background: url('../img/printers.png') right no-repeat, url('../img/shutterstock_1568960659.jpg') bottom ;
    width: 100%;
    height: 600px;
    background-size: contain, cover;
    margin: 0;

}
p.greetings
{
    font-size: 150px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    margin-left: 150px;
    padding-top: 150px;
    margin-block-end: 0;
    margin-block-start: 0;

}
p.description
{
    font-size: 29px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    margin-left: 150px;
    color: maroon;
    letter-spacing: 1.5px;
    margin-block-start: 0;

}
div.about
{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    text-align: left;
    border-bottom: 2px solid maroon;
    margin-block-end: 0;
}
nav.socials
{
    padding-left: 150px;

}
.test
{
    width: 200px;
    height: 200px;
    background-color: aqua;
    transition: width 2s, background-color 2s ;
}
